<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Ticket:</div>
  <ul>
    <%- flight.ticket.map(ticket => 
    `<li>${ticket.seat} <small>${ticket.price} </li>small> <small>${ticket.flight}</small></li>` 
    ) %>
  </ul>
</section>
<!-- add to cast form below this comment -->
<form id="add-per-to-ticket" action="/flights/<%= flight._id %>/tickets" method="POST">
  <select name="ticketId">
    <!-- Emit an option for each performer -->
    <%- tickets.map(t => 
      `<option value="${t._id}">${t.seat}</option>`
    ) %>
  </select>
  <button type="submit">Add to Tickets</button>
</form>
  
<br><br><h2>Destinations</h2>
<form id="add-destination" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <!-- <label>Destination:</label>
  <textarea name="content"></textarea> -->
  <label>Airport:
    <input type="text" name="airport">
  <label>Arrival:
    <input type="datetime-local" name="arrival">
  </label><br>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <!-- <td><%= d.content %></td> -->
            <!-- <td><%= d.arrival %></td> -->
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <%- include('../partials/footer') %>
